<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${channel.channelName}"></title>
    <span id="channelId" type="hidden" th:value="${channel.channelId}"></span>
    <link rel="stylesheet" href="/js/css/messages.css">
</head>
<body>
    <h1 th:text="${channel.channelName}" id="channel-name"></h1>
    <div id="new-text">
    </div>
    <hr/>
    <form id="messageBody">
        <input type="text" id="message-text"/>
    </form>

    <br>
    <a method="get" th:href="@{/welcome}">Back</a>


<script src="/js/messages.js"></script>
</body>
</html>