<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join Channel</title>
</head>
<body>
<h1>Join Channel</h1>
    <div th:each="channel : ${channels}">
        <a method="get" th:href="@{/channels/{channelId}(channelId=${channel.channelId})}">
          <span th:text="${channel.channelName}">[[${channel.channelName}]]</span>
        </a>
    </div>
    <div>
        <button id="create-channel"></button>
    </div>
<span th:if="${user != null}" th:text="${user.name}">[[${user.name}]]</span>
<script src="/js/welcome.js"></script>
</body>
</html>